.efectoimg:hover{
    filter: opacity(50%);
    transition: 400ms;
}

@media all and (max-width: 576px){
    .img-responsive{
        height: 250px;
        object-fit: cover;
    }

    .centrar{
        text-align: center;
    }
}